.modal.fade#registerModal(role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button',data-dismiss='modal') x
                h3.modal-title Registrar Cliente
            .modal-body
                form
                    
                    .form-group
                        label.control-label() DNI
                        input.form-control(type='text')
                    .form-group
                    .form-group
                    .form-group
                    .form-group
                    
            .modal-footer
