extends layout

block content
    .panel
        .panel-header
        .panel-body
            .row
                .col-md-12
                    .table-responsive
                        table.table
                            thead
                                th #
                                th Nombre
                                th Apellido
                                th DNI
                                th Telefono 
                                th Email
                                th oficina
                                th Departamento
                                th Tipo
                            tbody
                                td 1
                                td Nombre
                                td aaaaaa
                                td bbbbbb
                                td cccccc
                                td cccccc
                                td cccccc
                                td cccccc
                                td cccccc
