doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='cache-control', content='no-cache')
    meta(http-equiv='expires', content='Thu, 19 Nov 1900 08:52:00 GMT')
    link(rel='shortcut icon', href='images/icons/favicon.html')
    link(rel='apple-touch-icon', href='images/icons/favicon-2.html')
    link(rel='apple-touch-icon', sizes='72x72', href='images/icons/favicon-72x72.html')
    link(rel='apple-touch-icon', sizes='114x114', href='images/icons/favicon-114x114.html')
    // Loading bootstrap css
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,700,300')
    link(type='text/css', rel='stylesheet', href='/code/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/font-awesome/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/bootstrap/css/bootstrap.min.css')
    // LOADING STYLESHEET FOR PAGE
    // Loading style vendors
    //link(type='text/css', rel='stylesheet', href='/code/vendors/animate.css/animate.css')
    //link(type='text/css', rel='stylesheet', href='/code/vendors/jquery-pace/pace.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/iCheck/skins/all.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/jquery-notific8/jquery.notific8.min.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css')
    // Loading style
    
    link(type='text/css', rel='stylesheet', href='/code/vendors/DataTables/media/css/jquery.dataTables.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/DataTables/extensions/TableTools/css/dataTables.tableTools.min.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/DataTables/media/css/dataTables.bootstrap.css')
    // Loading style vendors
    
    link.default-style(type='text/css', rel='stylesheet', href='/code/css/themes/style1/orange-blue.css')
    link#theme-change.style-change.color-change(type='text/css', rel='stylesheet', href='/code/css/themes/style1/orange-blue.css')
    link(type='text/css', rel='stylesheet', href='/code/css/style-responsive.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/intro.js/introjs.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/calendar/zabuto_calendar.min.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/sco.message/sco.message.css')
    link(type='text/css', rel='stylesheet', href='/code/vendors/intro.js/introjs.css')
    
  body.sidebar-icons.header-static
    block modals    
    div
      a#totop(href='#')
        i.fa.fa-angle-up
      #header-topbar-option-demo.page-header-topbar
        nav#topbar.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0; z-index: 2;')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a#logo.navbar-brand(href='/')
              span.fa.fa-rocket
              span.logo-text OSIS
              span.logo-text-icon(style='display: none') OSIS
          .topbar-main
            a#menu-toggle.btn.hidden-xs(href='#', disabled='disabled')
              i.fa.fa-bars
            ul.nav.navbar-nav
              li.active
                a(href='#') 

            form#topbar-search.hidden-xs(action='#', method='GET')
              .input-group
                input.form-control(type='text', placeholder='Buscar...')
                span.input-group-btn
                  a.btn.submit(href='javascript:;')
                    i.fa.fa-search
            ul.nav.navbar.navbar-top-links.navbar-right.mbn
             
              li.dropdown.topbar-user
                a.dropdown-toggle(data-hover='dropdown', href='#')
                  img.img-responsive.img-circle(src='/s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg', alt='')
                  span.hidden-xs Julio Pari
                  span.caret
                ul.dropdown-menu.dropdown-user.pull-right
                  li
                    a(href='#')
                      i.fa.fa-user
                      | Mi Perfil
                  
                  li
                    a(href='/logout')
                      i.fa.fa-key
                      | Cerrar Session

    
      #wrapper
        nav#sidebar.navbar-default.navbar-static-side(role='navigation')
          .sidebar-collapse.menu-scroll
            ul#side-menu.nav
                include slidebar
        
        #page-wrapper
          #title-breadcrumb-option-demo.page-title-breadcrumb
            .page-header.pull-left
              .page-title OSIS
            
          .page-content
            
            block content
        #footer
          .copyright 2016 © UNJBG - Se Declaran Todos los Derechos Reservados Compañia J&C
    
    script(src='/code/js/jquery-1.10.2.min.js')
    script(src='/code/js/jquery-migrate-1.2.1.min.js')
    script(src='/code/js/jquery-ui.js')
    // loading bootstrap js
    script(src='/code/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/code/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js')
    script(src='/code/js/html5shiv.js')
    script(src='/code/js/respond.min.js')
    script(src='/code/vendors/metisMenu/jquery.metisMenu.js')
    script(src='/code/vendors/slimScroll/jquery.slimscroll.js')
    script(src='/code/vendors/jquery-cookie/jquery.cookie.js')
    script(src='/code/vendors/iCheck/icheck.min.js')
    script(src='/code/vendors/iCheck/custom.min.js')
    script(src='/code/vendors/jquery-notific8/jquery.notific8.min.js')
    script(src='/code/vendors/jquery-highcharts/highcharts.js')
    script(src='/code/js/jquery.menu.js')
    script(src='/code/vendors/jquery-pace/pace.min.js')
    script(src='/code/vendors/holder/holder.js')
    script(src='/code/vendors/responsive-tabs/responsive-tabs.js')
    script(src='/code/vendors/jquery-news-ticker/jquery.newsTicker.min.js')
    script(src='/code/vendors/moment/moment.js')
    script(src='/code/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js')
    script(src='/code/vendors/bootstrap-daterangepicker/daterangepicker.js')
    // CORE JAVASCRIPT
    script(src='/code/js/main.js')
    script(src='/javascripts/main.js')


    script(src='/code/vendors/DataTables/media/js/jquery.dataTables.js')
    script(src='/code/vendors/DataTables/media/js/dataTables.bootstrap.js')
    script(src='/code/vendors/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js')
    script(src='/code/js/table-datatables.js')
