li.user-panel
  .thumb
    img.img-circle(src='/s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
  .info
    p John Doe
    ul.list-inline.list-unstyled
      li
        a(href='extra-profile.html', data-hover='tooltip', title='Profile')
          i.fa.fa-user
      li
        a(href='email-inbox.html', data-hover='tooltip', title='Mail')
          i.fa.fa-envelope
      li
        a(href='#', data-hover='tooltip', title='Setting', data-toggle='modal', data-target='#modal-config')
          i.fa.fa-cog
      li
        a(href='extra-signin.html', data-hover='tooltip', title='Logout')
          i.fa.fa-sign-out
  .clearfix
li.active
  a(href='')
    i.fa.fa-tachometer.fa-fw
      .icon-bg.bg-orange
    span.menu-title INCIDENCIAS
li
  a(href='')
    i.fa.fa-bullhorn.fa-fw
      .icon-bg.bg-orange
    span.menu-title USUARIOS
    span.label.label-violet v4.0
li
  a(href='')
    i.fa.fa-laptop.fa-fw
      .icon-bg.bg-pink
    span.menu-title CLIENTES
    span.fa.arrow
    span.label.label-yellow v3.0
li
  a(href='')
    i.fa.fa-desktop.fa-fw
      .icon-bg.bg-pink
    span.menu-title OTROS
    span.fa.arrow
