.modal.fade#registerDependenceModal(role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button',data-dismiss='modal') x
                h3.modal-title Registrar Dependencia
            .modal-body
                form(method='post',action='/dependencias')
                    .row
                        .col-md-6
                            .form-group
                                label.control-label() Nombre
                                input.form-control(type='text',name='nameDependence')
                        .col-md-6
                            .form-group
                                label.control-label() Siglas
                                input.form-control(type='text',name='siglas')
                                    

                        .col-md-12
                            button.btn.btn-success.pull-right(type='submit',style='margin-left:5px') Registrar
                            button.btn.btn-default.pull-right(type='button',data-dismiss='modal') Cancelar
        
