extends ../layout_nonavbar

block none_bar
        .container
          section#content
            form(action='/login',method='POST',id='login-form',style='background:white')

              h1 LOGIN
              div
                input#username(type='text', placeholder='DNI', name='dni', required='')
              div
                input#password(type='password', placeholder='Contraseña', name='password', required='')
              div
                input(type='submit', value='Ingresar')
            // form
            .button
              .image_logo
                  img(src='/images/osis1.png',style='width:66px')

                
            // button
          // content
        // container

          
