extends ../layout_nonavbar

block none_bar
        .container
        
            .page-form    
                form.form.form-login(action='/login',method='post',id='login-form',style='background:white')
                    .header-content(style='background:white')
                        .image_logo
                            img(src='/images/osis1.png',style='width:160px')
                    .body-content(style='padding:25px')
                        input(type="hidden",name="token")
                        p.p-login Oficina de informatica y sistemas de informacion
                        .form-group
                            .input-icon.right
                              i.fa.fa-user
                              input.form-control(type='text', placeholder='DNI', name='dni')
                        .form-group
                            .input-icon.right
                              i.fa.fa-key
                              input.form-control(type='password', placeholder='Contraseña', name='password')
                        .form-group.pull-right
                            button#btn-login.btn.btn-lg.btn-success.btn-block(type='submit')
                                | Iniciar  
                                i.fa.fa-chevron-circle-right
                        .clearfix
