.modal.fade#registerUserModal(role="dialog")
    .modal-dialog.modal-wide-width
        .modal-content
            .modal-header
                button.close(type='button',data-dismiss='modal') x
                h3.modal-title Registrar Usuario
            .modal-body
                form(method='post',action='/usuarios')
                    .row
                        .col-md-6
                            .form-group
                                label.control-label() DNI
                                input.form-control(type='text',name='dni',id='dni')
                                
                        .col-md-6
                            .form-group
                                label.control-label() Contraseña
                                input.form-control(type='password',name='password',id='password')
                        .col-md-6
                            .form-group
                                label.control-label() Nombre
                                input.form-control(type='text',name='name',id='name')
                        .col-md-6
                            .form-group
                                label.control-label() Apellido
                                input.form-control(type='text',name='lastname',id='lastname')
                        .col-md-6
                            .form-group
                                label.control-label() Email
                                input.form-control(type='text',name='email',id='email')
                        
                        .col-md-6    
                            .form-group
                                label.control-label() Rol
                                select.form-control(type='text',name='role',id='role')
                                    option(value='usuario') Usuario
                                    option(value='cliente') Cliente
                                    option(value='tecnico') Tecnico
                        .col-md-6    
                            .form-group
                                label.control-label() Telefono
                                input.form-control(type='text',name='phone',id='phone')
                        .col-md-6
                            .form-group
                                label.control-label() Dependecia
                                input.form-control(name='dependence')
                                             
                        .col-md-6
                            .form-group
                                label.control-label() Registrador 
                                input#recorderUser.form-control(name='recorder')
                
                        .col-md-3
                            .form-group
                                label.control-label() Fecha registro
                                input#dateIncidencia.form-control(name='register_date_person', readonly="readonly") 
                        .col-md-12
                            button.btn.btn-success.pull-right(type='submit',style='margin-left:5px') Registrar
                            button.btn.btn-default.pull-right(type='button',data-dismiss='modal') Cancelar
        //-
            .modal-footer
                button.btn.btn-default(type='button',data-dismiss='modal') Cancelar
                button.btn.btn-success(type='submit') Registrar
